@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Colors (Light Mode) */
		--background: 0 0% 99%; /* #fffcfc */
		--background-alt: 0 0% 99%;
		--foreground: 205 55% 22%; /* #193d56 */
		--foreground-alt: 205 55% 42%;
		--muted: 205 5% 96%;
		--muted-foreground: 205 55% 22% / 0.4;
		--border: 205 55% 32%;
		--border-input: 205 55% 32% / 0.17;
		--border-input-hover: 205 55% 32% / 0.4;
		--border-card: 205 55% 32% / 0.1;
		--dark: 205 55% 22%;
		--dark-10: 205 55% 22% / 0.1;
		--dark-40: 205 55% 22% / 0.4;
		--dark-04: 205 55% 22% / 0.04;
		--accent: 205 55% 22%;
		--accent-foreground: 0 0% 99%;
		--destructive: 205 55% 22%;
		--constrast: 205 55% 22%;
		/* Shadows remain as defined */
		--shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
		--shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
		--shadow-popover: 0px 7px 12px 3px hsla(205 55% 22% / 0.1);
		--shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
		--shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
		--shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
		--shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);
	}

	.dark {
		/* Colors (Dark Mode – inverted) */
		--background: 205 55% 22%; /* dark blue (#193d56) */
		--background-alt: 205 55% 22%;
		--foreground: 0 0% 99%; /* off-white (#fffcfc) */
		--foreground-alt: 0 0% 80%;
		--muted: 205 5% 16%;
		--muted-foreground: 0 0% 99% / 0.4;
		--border: 0 0% 99%;
		--border-input: 0 0% 99% / 0.17;
		--border-input-hover: 0 0% 99% / 0.4;
		--border-card: 0 0% 99% / 0.1;
		--dark: 0 0% 99%;
		--dark-10: 0 0% 99% / 0.1;
		--dark-40: 0 0% 99% / 0.4;
		--dark-04: 0 0% 99% / 0.04;
		--accent: 0 0% 99%;
		--accent-foreground: 205 55% 22%;
		--destructive: 0 0% 99%;
		--constrast: 0 0% 99%;
		--shadow-popover: 0px 7px 12px 3px hsla(0deg 0% 0% / 0.3);
		--shadow-date-field-focus: 0px 0px 0px 3px rgba(244, 244, 245, 0.1);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html {
		-webkit-text-size-adjust: 100%;
		font-variation-settings: normal;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}

	/* Mobile tap highlight */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
	html {
		-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
	}
	::selection {
		background: #fdffa4;
		color: black;
	}

	/* === Scrollbars === */

	::-webkit-scrollbar {
		@apply w-2;
		@apply h-2;
	}

	::-webkit-scrollbar-track {
		@apply !bg-transparent;
	}
	::-webkit-scrollbar-thumb {
		@apply rounded-card-lg !bg-dark-10;
	}

	::-webkit-scrollbar-corner {
		background: rgba(0, 0, 0, 0);
	}

	/* Firefox */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */

	html {
		scrollbar-color: var(--bg-muted);
	}

	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@layer utilities {
	.step {
		counter-increment: step;
	}

	.step:before {
		@apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
		@apply ml-[-50px] mt-[-4px];
		content: counter(step);
	}
}

@layer components {
	*:not(body):not(.focus-override) {
		outline: none !important;
		&:focus-visible {
			@apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-foreground focus-visible:ring-offset-2 focus-visible:ring-offset-background;
		}
	}

	.link {
		@apply inline-flex items-center gap-1 rounded-sm font-medium underline underline-offset-4 hover:text-foreground/80 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-foreground focus-visible:ring-offset-2 focus-visible:ring-offset-background;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}
